{% extends "layout.html" %}
{% load mathfilters %}
{% block title %}
Service zone
{% endblock %}
{% block head %}
<style>.popover{max-width:600px}</style>
{% endblock %}
{% block content %}
{% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% else %}
<div class="container">
    <div class="starter-template">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="text-muted"><i class="glyphicon glyphicon-plus pull-right" data-toggle="modal" data-target="#adduser"></i></a>
                    {% include "new_user.html" %}
                    <h3 class="panel-title">Users list</h3>
                </div>
                <div class="panel-body" id="userList">
                    {% for username, stats in users.items %}
                        {% include "user.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var click_url = function () {
            var el = $(this);
            var _data = el.attr('alt');
            var send_url = el.attr('send_url');
            $.ajax({
                type: 'GET',
                url: send_url,
                data: _data,
                dataType: 'html',
                success: function () {
                    document.location.reload(true);
                }
            });
        };
        $('button[send_url]').mousedown(click_url);

        var add_key = function () {
            var el = $(this);
            var send_url = "/krakendash/user/" + el.attr('username') + "/addkey/";
            $.ajax({
                type: 'GET',
                url: send_url,
                dataType: 'json',
                success: function (data) {
                    el.attr('data-title', data.access_key);
                    el.attr('data-original-title', data.access_key);
                    el.attr('data-content', data.secret_key);
                    el.popover("show");
                    $("#" + data.user + "-keys").append("<span>" + data.access_key + "</span>\n");
                    $("#customize-" + data.user).on('hidden.bs.modal', function () {el.popover("hide"); });
                }
            });
        };
        $('button[username]').mousedown(add_key);

        $("#createUser").submit(function(e) {
            $.ajax({
                type: $(this).attr("method"),
                url: $(this).attr("action"),
                data: $(this).serialize(),
                success: function(data) {
                    $("#adduser").modal("hide");
                    $("#userList").append(data);
                }
            });
            e.preventDefault();
        });

    });
</script>
{% endif %}
{% endblock %}