{% extends "layout.html" %}
{% load mathfilters %}
{% block title %}
Ceph
{% if cluster_health.output.overall_status == "HEALTH_OK" %}
OK
{% elif cluster_health.output.overall_status == "HEALTH_WARN" %}
WARN
{% else %}
CRIT
{% endif %}/Used: {{ data_used }}{{ data_scale }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="starter-template">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Health</h3>
                    </div>
                <div class="panel-body">
                    {% if cluster_health.output.overall_status == "HEALTH_OK" %}
                      <h1 class="text-success">OK</h1>
                    {% elif cluster_health.output.overall_status == "HEALTH_WARN" %}
                      <h1 class="text-warning">WARN</h1>
                    {% else %}
                      <h1 class="text-danger">CRIT</h1>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Status</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">OK</th>
                                <th class="text-center">WARN</th>
                                <th class="text-center">CRIT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>MON</b></td>
                                <td>{{ mons_ok }}</td>
                                <td>{{ mons_warn }}</td>
                                <td>{{ mons_crit }}</td>
                            </tr>
                            <tr>
                                <td><b>OSD</b></td>
                                <td>{{ osds_ok }}</td>
                                <td>{{ osds_warn }}</td>
                                <td>{{ osds_crit }}</td>
                            </tr>
                            <tr>
                                <td><b>PG</b></td>
                                <td>{{ pg_ok }}</td>
                                <td>{{ pg_warn }}</td>
                                <td>{{ pg_crit }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Usage</h3>
                </div>
                <div class="panel-body">
                    <div id="gauge-usage"></div>
                        <script>
                            var draw_usage = function() {
                                var size = $("#gauge-usage").width(),
                                R = size / 2.5,
                                strength = size / 5,
                                center = size / 2;
                                param = {stroke: "#fff", "stroke-width": strength},
                                r = Raphael("gauge-usage", size, size / 2 + strength);
                                r.customAttributes.arc = function (value, total, R, bg) {
                                        var alpha = 180 / total * value,
                                            a = (180 - alpha) * Math.PI / 180,
                                            x = center + R * Math.cos(a),
                                            y = center - R * Math.sin(a),
                                            path;
                                        if (value < (total / 3)) {
                                            color = "#b6de71";
                                        } else if (value > (2 * total / 3)) {
                                            color = "#cc5454";
                                        } else {
                                            color = "#edd268";
                                        }
                                        if (bg) {
                                            color = "#fdfdfd";
                                        }
                                        if (total == value) {
                                            path = [["M", center - R, center], ["A", R, R, 0, 0, 1, center + R, center ]];
                                        } else {
                                            path = [["M", center - R, center], ["A", R, R, 0, +(alpha > 180), 1, x, y]];
                                        }
                                        return {path: path, stroke: color};
                                };
                                var bg = r.path().attr(param).attr({arc: [{{ data_avail }}, {{ data_avail }}, R, 1]});
                                var scale = r.path().attr(param).attr({arc: [0, {{ data_avail }}, R]});
                                scale.animate({arc: [{{ data_used }}, {{ data_avail }}, R]}, 900, '>');
                                var hoverIn = function() {this.attr({"stroke-width": strength + 3});};
                                var hoverOut = function() {this.attr({"stroke-width": strength});}
                                scale.hover(hoverIn, hoverOut, scale, scale);
                                r.text(center - R, center + 10, "0").attr({fill: "#ccc" });
                                r.text(center + R, center + 10, "{{ data_avail }}").attr({fill: "#ccc" });
                                r.text(center, center - strength / 2, "{{ data_used }}").attr({"font-weight": 600, "font-size": strength / 1.2});
                                r.text(center, center + 10, "{{ data_scale }}").attr({fill: "#ccc", "font-size": strength / 2.5 });
                            };
                            draw_usage();
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">PG States</h3>
                    </div>
                <div class="panel-body">
                    <!--
                    <div class="table-responsive">
                      <table class="table table-curved">
                        <tr>
                          <td>state</td>
                          <td>count</td>
                        </tr>
                      {% for k, v in pg_states.items %}
                        <tr>
                          <td>{{ k }}</td>
                          <td>{{ v }}</td>
                        </tr>
                      {% endfor %}
                      </table>
                    </div>
                    -->
                    <ul class="list-group">
                        {% for k, v in pg_states.items %}
                            <li class="list-group-item">
                                <span class="badge">{{ v }}</span>
                                {{ k }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="osdNotice">OSD Status</h3>
                </div>
                <div class="panel-body" align="left">
                    <style>p.osd_button { line-height: 300%; }</style>
                    <p class="osd_button">
                        {% for osd in osd_state %}
                            {% if osd.state.0 == "exists" and osd.state.1 == "up" %}
                                <button type="button" class="btn btn-xs btn-success" role="button" send_url="/krakendash/osd/{{ osd.osd }}">{{ osd.osd }}</button>
                            {% else %}
                                <button type="button" class="btn btn-xs btn-danger" role="button" send_url="/krakendash/osd/{{ osd.osd }}">{{ osd.osd }}</button>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Activity</h3>
                </div>
                <div class="panel-body">
                    {% for label, data in activities.items %}
                        {{ label }}: {{ data }}/Sec <br />
                    {% empty %}
                        Cluster is idle.
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">S3 users</h3>
            </div>
            <div class="panel-body">
                <div class="row"><script>var draw = new Array();</script>
                    {% for user, data in users_stat.items %}
                     <div class="col-sm-3">
                        <div id="gauge-{{ user }}"></div>
                        <script>
                            draw["{{user}}"] = function() {
                                var size = $("#gauge-{{ user }}").width(),
                                R = size / 2.5,
                                strength = size / 10,
                                center = size / 2;
                                param = {stroke: "#fff", "stroke-width": strength},
                                r = Raphael("gauge-{{ user }}", size, size / 2);
                                r.customAttributes.arc = function (value, total, R, bg, user, bucket) {
                                        var alpha = 180 / total * value,
                                            a = (180 - alpha) * Math.PI / 180,
                                            x = center + R * Math.cos(a),
                                            y = center - R * Math.sin(a),
                                            color = "hsb(".concat(Math.round(R) / (size / 2.5), ",", value / total, ", .75)"),
                                           path;
                                        if (user && bucket) {
                                            $("p#legend-" + user + "-" + bucket).css("color", Raphael.getRGB("hsb(".concat(Math.round(R) / (size / 2.5), ", .6, .75)")).hex);
                                        }
                                        if (bg) {
                                            color = "#fdfdfd";
                                        }
                                        if (total == value) {
                                            path = [["M", center - R, center], ["A", R, R, 0, 0, 1, center + R, center ]];
                                        } else {
                                            path = [["M", center - R, center], ["A", R, R, 0, +(alpha > 180), 1, x, y]];
                                        }
                                        return {path: path, stroke: color};
                                    };
                                {% for bucket, stat in data.items %}
                                var bg = r.path().attr(param).attr({arc: [{{ data_avail }}, {{ data_avail }}, R, 1]});
                                var scale = r.path().attr(param).attr({arc: [0, {{ data_avail }}, R]});
                                scale.animate({arc: [+({{ stat.size_kb }} / Math.pow(1024, {{ scale }} - 1)), {{ data_avail }}, R, null, "{{user|cut:'.'}}", "{{bucket|cut:'.'}}"]}, 900, '>');
                                var hoverIn = function() {this.attr({"stroke-width": strength + 3});};
                                var hoverOut = function() {this.attr({"stroke-width": strength});}
                                scale.hover(hoverIn, hoverOut, scale, scale);
                                R -= size / 15 + 10;
                                {% endfor %}
                            };
                            draw["{{user}}"]();

                        </script>
                        <div>
                            <ul class="list-unstyled">
                            {% for bucket, stat in data.items %}
                                <li>
                                    <span class="badge pull-right">{{stat.size_kb|mul:1024|filesizeformat}} </span>
                                    <p class="text-left" id="legend-{{user|cut:'.'}}-{{bucket|cut:'.'}}">{{ bucket }}</p>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>
        </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var get_osd_data = function () {
            var el = $(this);
            var _data = el.attr('alt');
            var send_url = el.attr('send_url');
            $.ajax({
                type: 'GET',
                url: send_url,
                data: _data,
                dataType: 'html',
                success: function (data) {
                    el.attr('data-content', data);
                    el.popover('show');
                }
            });
        };

        $('button').popover({trigger: 'hover', html: true, delay: {hide: 0}});
        $('button').click(get_osd_data);
    });
</script>
{% endblock %}