{% extends "layout.html" %}
{% load mathfilters %}
{% block title %}
Ceph
{% if cluster_health.output.overall_status == "HEALTH_OK" %}
OK
{% elif cluster_health.output.overall_status == "HEALTH_WARN" %}
WARN
{% else %}
CRIT
{% endif %}/Used: {{ data_used }}{{ data_scale }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Health</h3>
                </div>
                <div class="panel-body">
                    {% if cluster_health.output.overall_status == "HEALTH_OK" %}
                      <h1 class="text-success"><i class="glyphicon glyphicon-ok"></i></h1>
                    {% elif cluster_health.output.overall_status == "HEALTH_WARN" %}
                      <h1 class="text-warning"><i class="glyphicon glyphicon-warning-sign"></i></h1>
                     {% for detail in cluster_health.output.detail %}
                        <p class="text-warning">{{detail}}</p>
                     {% endfor %}
                    {% else %}
                      <h1 class="text-danger"><i class="glyphicon glyphicon-fire"></i></h1>
                      {% for detail in cluster_health.output.detail %}
                        <p class="text-danger">{{detail}}</p>
                      {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Status</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center"><i class="glyphicon glyphicon-ok"></i></th>
                                <th class="text-center"><i class="glyphicon glyphicon-warning-sign"></i></th>
                                <th class="text-center"><i class="glyphicon glyphicon-fire"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>MON</b></td>
                                <td>{{ mons_ok }}</td>
                                <td>{{ mons_warn }}</td>
                                <td>{{ mons_crit }}</td>
                            </tr>
                            <tr>
                                <td><b>OSD</b></td>
                                <td>{{ osds_ok }}</td>
                                <td>{{ osds_warn }}</td>
                                <td>{{ osds_crit }}</td>
                            </tr>
                            <tr>
                                <td><b>PG</b></td>
                                <td>{{ pg_ok }}</td>
                                <td>{{ pg_warn }}</td>
                                <td>{{ pg_crit }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Usage</h3>
                </div>
                <div class="panel-body">
                    <div id="gauge-usage"></div>
                    <script>
                        var draw_usage = function() {
                            var size = $("#gauge-usage").width();
                            size = (size < 200)? size: 200;
                            var R = size / 2.5,
                            strength = size / 5,
                            center = size / 2,
                            param = {stroke: "#fff", "stroke-width": strength},
                            r = Raphael("gauge-usage", size, size / 2 + strength);
                            r.customAttributes.arc = function (value, total, R, bg) {
                                    var alpha = 180 / total * value,
                                        a = (180 - alpha) * Math.PI / 180,
                                        x = center + R * Math.cos(a),
                                        y = center - R * Math.sin(a),
                                        path;
                                    if (value < (total / 3)) {
                                        color = "#b6de71";
                                    } else if (value > (2 * total / 3)) {
                                        color = "#cc5454";
                                    } else {
                                        color = "#edd268";
                                    }
                                    if (bg) { color = "#f2f2f2";}
                                    if (total == value) {
                                        path = [["M", center - R, center], ["A", R, R, 0, 0, 1, center + R, center ]];
                                    } else {
                                        path = [["M", center - R, center], ["A", R, R, 0, +(alpha > 180), 1, x, y]];
                                    }
                                    return {path: path, stroke: color};
                            };
                            var bg = r.path().attr(param).attr({arc: [{{ data_avail }}, {{ data_avail }}, R, 1]});
                            var scale = r.path().attr(param).attr({arc: [0, {{ data_avail }}, R]});
                            scale.animate({arc: [{{ data_used }}, {{ data_avail }}, R]}, 900, '>');
                            var hoverIn = function() {this.attr({"stroke-width": strength + 3});};
                            var hoverOut = function() {this.attr({"stroke-width": strength});};
                            scale.hover(hoverIn, hoverOut, scale, scale);
                            r.text(center - R, center + 10, "0").attr({fill: "#ccc" });
                            r.text(center + R, center + 10, "{{ data_avail }}").attr({fill: "#ccc" });
                            r.text(center, center - strength / 3.4, "{{ data_used }}").attr({"font-weight": 600, "font-size": strength / 1.2});
                            r.text(center, center + ((strength / 5 > 10)? 2 + strength / 5 : 10), "{{ data_scale }}").attr({fill: "#ccc", "font-size": (strength / 2.5 > 10)? strength / 2.5 : 10 });
                        };
                        draw_usage();
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">PG States</h3>
                </div>
                <div class="panel-body">
                    <!--
                    <div class="table-responsive">
                      <table class="table table-curved">
                        <tr>
                          <td>state</td>
                          <td>count</td>
                        </tr>
                      {% for k, v in pg_states.items %}
                        <tr>
                          <td>{{ k }}</td>
                          <td>{{ v }}</td>
                        </tr>
                      {% endfor %}
                      </table>
                    </div>
                    -->
                    <ul class="list-group">
                        {% for k, v in pg_states.items %}
                            <li class="list-group-item">
                                <span class="badge">{{ v }}</span>
                                {{ k }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="osdNotice">OSD Status</h3>
                </div>
                <div class="panel-body" align="left">
                    <style>p.osd_button { line-height: 300%; }</style>
                    <p class="osd_button">
                        {% for osd in osd_state %}
                            {% if osd.state.0 == "exists" and osd.state.1 == "up" %}
                                <button id="osd_data" type="button" class="btn btn-xs btn-success" role="button" send_url="/krakendash/osd/{{ osd.osd }}">{{ osd.osd }}</button>
                            {% else %}
                                <button id="osd_data" type="button" class="btn btn-xs btn-danger" role="button" send_url="/krakendash/osd/{{ osd.osd }}">{{ osd.osd }}</button>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Activity</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <i class="glyphicon glyphicon-cloud-download text-info"></i> <span id="read-data">{{ activities.Read|filesizeformat }}</span>/s
                        <i class="glyphicon glyphicon-cloud-upload text-danger"></i> <span id="write-data">{{ activities.Write|filesizeformat }}</span>/s
                    </p>
                    {% for label, data in activities.items %}
                    {% if not label == "Read" and not label == "Write" %}
                    {{ label }}: {{ data }}/Sec <br />
                    {% endif %}
                    {% endfor %}
                    <div id="activity"></div>
                    <script>
                        function filesizeformat(fileSizeInBytes) {
                            var i = -1;
                            var byteUnits = [' kB', ' MB', ' GB', ' TB', 'PB', 'EB', 'ZB', 'YB'];
                            do {
                                fileSizeInBytes = fileSizeInBytes / 1024;
                                i++;
                            } while (fileSizeInBytes > 1024);
                            return Math.max(fileSizeInBytes, 0).toFixed(1) + byteUnits[i];
                        };         
                        Raphael(function () {
                            var size = $("#activity").width();
                            size = (size < 200)? size: 200;
                            var r = Raphael("activity", size, size),
                            maxspeed = 10000000,
                            clr = [],
                            x = 0,
                            e = [],
                            values = [],
                            c = [],
                            start = [],
                            bg = [],
                            dotsy = [];
                            c["read"] = r.path("M0,250").attr({fill: "none", "stroke-width": 1, "stroke-linecap": "round"});
                            c["write"] = r.path("M0,250").attr({fill: "none", "stroke-width": 1, "stroke-linecap": "round"});
                            bg["read"] = r.path("M0,250").attr({stroke: "none", opacity: .3});
                            bg["write"] = r.path("M0,250").attr({stroke: "none", opacity: .3});
                            start["read"] = [0, size];
                            start["write"] = [0, size];
                            values["read"] = [];
                            values["write"] = [];
                function newPath(x) {
                    var path = [],
                        y = 0;
                    dotsy["read"] = 0;
                    dotsy["write"] = 0;
                    $.ajax({
                        type: 'GET',
                        async: false,
                        url: "/krakendash/activity/",
                        dataType: 'json',
                        success: function(data){
                            dotsy["read"] = data["Read"] == undefined? 0 : data["Read"];
                            dotsy["write"] = data["Write"] == undefined? 0 : data["Write"];
                            $("#read-data").html(filesizeformat(dotsy["read"]));
                            $("#write-data").html(filesizeformat(dotsy["write"]));
                            /*while (dotsy["read"] > size) {
                                dotsy["read"] /= 2;
                                dotsy["write"] /= 2;
                            }
                            while (dotsy["write"] > size) {
                                dotsy["read"] /= 2;
                                dotsy["write"] /= 2;
                            }*/
                            dotsy["read"] = dotsy["read"] * size / maxspeed;
                            dotsy["write"] = dotsy["write"] * size / maxspeed;
                            dotsy["read"] = size - dotsy["read"];
                            dotsy["write"] = size - dotsy["write"];
                        }
                    });
                    path["read"] = [x, (y = dotsy["read"])];
                    path["write"] = [x, (y = dotsy["write"])];
                    return path;
                }
                clr["read"] = "#31708f";
                clr["write"] = "#a94442";
                c["read"].attr({path: "M0," + size + "L", stroke: clr["read"]});
                c["write"].attr({path: "M0," + size + "L", stroke: clr["write"]});
                bg["read"].attr({path: "M0," + size + "L" + size + "," + size + " 0," + size + "z", fill: clr["read"]});
                bg["write"].attr({path: "M0," + size + "L" + size + "," + size + " 0," + size + "z", fill: clr["write"]});
                var animation = function (values, x) {
                    var time = 1000;
                    if (x < 200) {x += 10;}
                    var values_new = newPath(x);
                    values["read"].push(values_new["read"]);
                    values["write"].push(values_new["write"]);
                    var anim1 = Raphael.animation({path: "M" + start["read"] + "L" + values["read"].join(","), stroke: clr["read"]}, time, "<>");
                    var anim2 = Raphael.animation({path: "M" + start["write"] + "L" + values["write"].join(","), stroke: clr["write"]}, time, "<>");
                    bg["read"].animateWith(c, anim1, {path: "M" + start["read"] + "L" + values["read"].join(",") + "L" + values_new["read"][0] + "," + size + " L0," + size + "z", fill: clr["read"]}, time, "<>");
                    bg["write"].animateWith(c, anim2, {path: "M" + start["write"] + "L" + values["write"].join(",") + "L" + values_new["write"][0] + "," + size + " L0," + size + "z", fill: clr["write"]}, time, "<>");
                    c["read"].animate(anim1);
                    c["write"].animate(anim2);
                    if (values["write"][0][0] > 20) {
                            console.error(x, values_new["write"], values["write"]);
                            return 0;
                        }
                    if (values["read"].length > 20 || values["write"].length > 20) {
                        values["read"].shift();
                        values["write"].shift();
                        for (var i = 0; i < values["read"].length; i++){
                            values["read"][i][0] -= 10;
                        }
                        for (var i = 0; i < values["write"].length; i++){
                            values["write"][i][0] -= 10;
                        }
                        start["read"][1] = values["read"][0][1];
                        start["write"][1] = values["write"][0][1];
                    }
                    setTimeout(function(){animation(values, x);}, 15000);
                };
                animation(values, x);
            });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">S3 users</h3>
        </div>
        <div class="panel-body">
            <div class="row"><script>var draw = new Array();</script>
                {% for user, data in users_stat.items %}
                 <div class="col-sm-3">
                    <div>{{ user }}</div>
                    <div id="gauge-{{ user }}" data-container="body" data-toggle="popover" data-placement="top" data-content=""></div>
                    <script>
                        draw["{{user}}"] = function() {
                            var size = $("#gauge-usage").width();
                            size = (size < 200)? size: 200;
                            var R = size / 2.5,
                            strength = size / 10,
                            center = size / 2;
                            param = {stroke: "#fff", "stroke-width": strength},
                            r = Raphael("gauge-{{ user }}", size, size / 2);
                            r.customAttributes.arc = function (value, total, R, bg, user, bucket) {
                                    var alpha = 180 / total * value,
                                        a = (180 - alpha) * Math.PI / 180,
                                        x = center + R * Math.cos(a),
                                        y = center - R * Math.sin(a),
                                        color = "hsb(".concat(Math.round(R) / (size / 2.5), ",", value / total, ", .75)"),
                                       path;
                                    if (user && bucket) {
                                        $("p#legend-" + user + "-" + bucket).css("color", Raphael.getRGB("hsb(".concat(Math.round(R) / (size / 2.5), ", .6, .75)")).hex);
                                    }
                                    if (bg) {
                                        color = "#f2f2f2";
                                    }
                                    if (total == value) {
                                        path = [["M", center - R, center], ["A", R, R, 0, 0, 1, center + R, center ]];
                                    } else {
                                        path = [["M", center - R, center], ["A", R, R, 0, +(alpha > 180), 1, x, y]];
                                    }
                                    return {path: path, stroke: color};
                                };
                            {% for bucket, stat in data.items %}
                            {% if stat %}
                                var bg = r.path().attr(param).attr({arc: [{{ data_avail }} / 3, {{ data_avail }} / 3, R, 1]});
                                var scale = r.path().attr(param).attr({arc: [0, {{ data_avail }} / 3, R]});
                                scale.animate({arc: [+({{ stat.size_kb }} / Math.pow(1024, {{ scale }} - 1)), {{ data_avail }} / 3, R, null, "{{user|cut:'.'}}", "{{bucket|cut:'.'}}"]}, 900, '>');
                                var hoverIn = function() {this.attr({"stroke-width": strength + 3}); $('#gauge-{{user}}').popover({content: "{{ bucket }}: {{stat.size_kb|mul:1024|filesizeformat}} ({{stat.size_kb_actual|mul:1024|filesizeformat}})"}); $('#gauge-{{user}}').popover('show')};

                                var hoverOut = function() {this.attr({"stroke-width": strength});$('#gauge-{{user}}').popover('hide')}
                                scale.hover(hoverIn, hoverOut, scale, scale);
                                R -= size / 15 + 10;
                            {% endif %}
                            {% endfor %}
                        };
                        draw["{{user}}"]();

                    </script>
                    <div>
                        <ul class="list-unstyled">
                        {% for bucket, stat in data.items %}
                            <li>
                                {% if stat %}<span class="badge pull-right">{{stat.num_objects}}  <i class="glyphicon glyphicon-file"></i> </span>{% endif %}
                                <p class="text-left {% if not stat %}text-muted{% endif %}" id="legend-{{user|cut:'.'}}-{{bucket|cut:'.'}}">{{ bucket }}</p>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var get_osd_data = function () {
            var el = $(this);
            var _data = el.attr('alt');
            var send_url = el.attr('send_url');
            $.ajax({
                type: 'GET',
                url: send_url,
                data: _data,
                dataType: 'html',
                success: function (data) {
                    el.attr('data-content', data);
                    el.popover('show');
                }
            });
        };

        $('button[id=osd_data]').popover({trigger: 'hover', html: true, delay: {hide: 0}});
        $('button[id=osd_data]').click(get_osd_data);
    });
</script>
{% endblock %}
